/* reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* header */

/* pagina de inicio */

header {
    background-color: gold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
h1 {
    font-size: 80px;
    font-family: 'Bebas Neue', sans-serif;
    nav{
        display: flex;
        ul {
            display: flex;
            list-style: none;
            align-items: center;
            li {
                font-size: x-large;
                font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                a {
                    text-decoration: none;
                    color:black;
                    display: flex;
                    justify-content: space-around;
                    padding: 10px;
                    &:hover {
                        color: white;
                        /* font weight, es para darle mas ancho a las letras */
                        font-weight: bold;
                        }   
                    }   
                }        
            }            
        }                
    }
}


/* main */

section {
    background-image: url(../tp-1/media/2023-lucid-air-1.jpg);
    width: 100%;
    height:800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h2 {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(255, 255, 255, 0.453);
    border:1px solid rgb(0, 0, 0) ;
    text-align: center;
    padding: 30px;
        h4 {
            color: yellow;
            margin-top:470px ;
            width: 1000px;
            text-align: center;
            font-family: cursive;
            font-size: x-large;
            margin-left: 200px;
        }  
    }    
}

/* footter de index */

footer {
    background-color: gold;
    height: 100px;
        img {
        padding: 20px;
        width: 70px;
        border-radius:10px;
            h4 {
            margin-left: 300px;
            margin-top: -50px;
        }
    }        
}            

/* seccion nosotros */



main {
    width: 100%;
    height: 3000px;
    background-image: url(../tp-1/media/fondo\ 2.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
h1{
    margin-top: 0px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:black;
        div {
        margin-top: 100px;
        padding: 15px;
        margin-left: 40px;
        display: flex;
        justify-content: space-around;
        width: 100%;
            &:hover {
            /* arriba, derecha, abajo */
            text-shadow: o 4px 8px rgba(0, 0 ,0 , 0,1);
                img {
                width: 420px;
                height: 300px;
                margin-right: 40px;
                border: 4px solid black;
                margin-top: 200px;
            }   
        }       
    }           
}              
}              

/* boostraps */



h2 {
    margin-top: 300px;
    margin-left: -100px;
    color:black;
    font-size: 80px;
    p {
        color:black;
        font-size: 30px;
        margin-left: -100px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        letter-spacing: 5px;
        text-align: center;
        margin-top: 20px;
        img {
            height:800px;
            margin-left: 70px;
        }
    }
}


/* ubicacion */


section {
    width: 100%;
    height: 2000px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(../tp-1/media/fondo\ 4.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: -50px;

h1 {
    width: 1600px;
    text-align: center;
    margin-left: 50px;
    margin-top: 50px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    color: black;
    text-decoration: underline;
    div{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 500px;
        img {
            border: 2px solid black;
            width: 620px;
            height: 450px;
            margin-right: 25px;
            margin-left: 20px;
            margin-top: -300px;
            h3 {
                margin-top: 100px;
                margin-left: 10px;
                font-size: 30px;
                font-family: Verdana, Geneva, Tahoma, sans-serif;
                letter-spacing: 5px;
            }    color: black;
        }
    }        
}
}